body {
	padding-top: 51px;
}

.nav.nav-pills.nav-stacked>li.active>a{
	background: #555;
	color: #FFF;

}

.nav.nav-pills.nav-stacked>li>a{
	color: #555;
}

#sidebar-left>div>ul>li{
}

#sidebar-left>div{
	background: #eee;
}

.pagination{
	margin-top:0px;
}