body {
	padding-top: 51px;
	height: 100%;
}

.nav.nav-pills.nav-stacked>li.active>a{
	background: #555;
	color: #FFF;

}

.nav.nav-pills.nav-stacked>li>a{
	color: #555;
}

#sidebar-left>div>ul>li{
}

#sidebar-left>div{
	background: #eee;
}

/*#sidebar-left{
	position: absolute;
	margin-top: 3px;
	border: dashed;
	height: 100%;
	float: left;
}
*/
.pagination{
	margin-top:0px;
}


/*#projets{
	border: dashed;
	float: right;

}*/

